# compiled python byte code
*.pyc

# R environment files
.RData
.Rhistory
*Rproj*
Rplot*
.Rproj.user

# output logging from nohup command
nohup*

# ignore log files
*.log

# temp files
temp*
tmp*
stub*
*tmp
~*
*.bak

# ms output
seedms

# ignore test data
*pygmy*
*socotra*
*africa*
*nature*

# node colours
nodes.list